body {
  font-family: "Indie Flower", cursive;
  width: 100%;
  font-size: 30px;
}

h1 {
  color: rgb(14, 200, 138);
  font-size: 54px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgb(131, 103, 103);
  border-radius: 6px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: blueviolet;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
}
